/*estilos logo*/

.logo {
    width: 75px;
}


/*avatar general del que viene del fichero include*/

form .avatar {
    width: 55px;
    margin-bottom: 15px;
}


/*estilos avatar menu de arriba una vez logeado*/

.navbar .avatar_contenedor,
.publicacion .avatar_contenedor {
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .avatar_contenedor img,
.publicacion .avatar_contenedor img {
    height: 100%
   
}

.publicacion {
    margin-bottom: 25px;
}

.publicacion .container-avatar {
    float: left;
    margin-right: 15px;
}

.publicacion .contenido {
    font-weight: bold;
    line-height: 35px;
}

.publicacion .contenido a {
    color: violet;
}

.publicacion .nick {
    color: green;
}

.publicacion .fecha {
    color: grey;
}

.imagen-contenido {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.imagen-contenido img {
    width: 100%;
}

.publicacion .card-body {
    padding: 0px;
}

.publicacion .descripcion {
    padding: 15px;
    padding-bottom: 0px;
}

.publicacion .comentarios {
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
}

.gustas {
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}

.gustas img {
    width: 20px;
}
.numero{
    color:green;
}

.imagen-detalle {
    max-height: 500px;
}

.detalle .comentarios {
    padding-top: 150px;
}

.coment-bt {
    margin: 10px;
    
  
}

.eliminar {
    color: red;
    font-weight: bolder;
}

.logear {
    margin: 0;
}
/*estilos de perfil.blade*/
.perfil
{
    height:200px;
    margin-bottom:40px;
   
   
}


.perfil .avatar_contenedor
{
    width:200px;
    height:200px;
    border-radius:300px;
    overflow: hidden;
    float:right;
}
.perfil .avatar_contenedor img{
    height:100%;

}

.perfil .info{
    
    color:grey;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

/*------------------ESTILOS PORTADA------------------------------------------*/
.abs-center {
    display: flex;
    align-items: center;
    min-height: 70vh;
    color:orange;
    font-weight:bold;
    font-size:3vh;

  }
  .login {
    display: flex;
    align-items: center;
    min-height: 70vh;
   
  
  }
  
  #boton_seccion1 {
    background: transparent;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 5%;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    padding: 10px 30px;
    overflow: hidden;
 
}

#boton_seccion1:before {
    content: "";
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: .5s;
}

#boton_seccion1:after {
    content: "";
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: .5s;
}

#boton_seccion1:hover:before {
    width: 100%;
    height: 100%;
}

#boton_seccion1:hover:after {
    width: 100%;
    height: 100%;
}


    .fondo{
        background-image: url(imagenes/gente.jpg);
        background-repeat:repeat; 
        background-size: cover; 
        height: 100vh;
       
      
    }
    .logear{
        padding:40px;
    }
    @media (max-width: 940px) {
        .desaparecer{
            visibility: hidden;

        }
        
    }
/* todos os titulos e as letras*/
.titulo{
    padding:10px;
    color:orange;
}
.cabeza{
    background-color: white;
    color:green;
    font-weight: bolder;
}

/* restaurante*/
.rest
{
    height:150px;
    margin-bottom:40px;
   
   
}
.rest .rest_contenedor
{
    width:200px;
    height:200px;
    border-radius:300px;
    overflow: hidden;
   
}
.rest .rest_contenedor img{
    height:100%;

}

 .infor{
    
    color:grey;
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}
.letritas{
    font-weight: bolder;
    color:rgb(58, 56, 56)
}
    .zoom {
        transition: transform .2s; 
    }
     
    .zoom:hover {
        transform: scale(1.5); 
        filter:drop-shadow(8px 8px 10px gray) opacity(65%);
    }
    .cardmargen
    {
        margin-top:40px;
    }
/***********RESERVA***********/
/* o asterisco do formuario de reserva*/
.anotaciones
{
color:green;
font: size 6px;;
}